for x in range (parameters);
    statements

In [2]:
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end=" ")
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

In [3]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [12]:
#function to print the alternate numbers
#[500,520]--500 502 504.........520
def printalternatre(lb,ub):
    for x in range(500,520+1,2):
        print(x,end=" ")
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

In [9]:
for i in range(500,520+1):
    if i%2==0:
        print(i,end=" ")

500 502 504 506 508 510 512 514 516 518 520

# Programming in python with strings
1. strings
2. string slicing
3. . Fundamental programs and examples with string

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
s1="python"
print(s1,type(s1))

python <class 'str'>

In [3]:
a="a"
print(type(a))

<class 'str'>

# slicing

In [4]:
s1="python"
print(s1[0])

p

In [5]:
s1="python"
print(s1[4])

o

In [6]:
s1="python"
print(s1[3])
print(len(s1))#length of the string
print(len(s1)-1)#accessing last character of the string
print(s1[-1])#anothe way to access last character
print(s1[-2])

h
6
5
n
o

In [7]:
s1="python is easy"
print(s1[0:2])

py

In [8]:
s1="python is easy"
print(s1[0:2])
print(s1[-2:])
print(s1[3:])
print(s1[2:5])
print(s1[1:-1])

py
sy
hon is easy
tho
ython is eas

# reverse the string

In [10]:
s1="python is easy"
print(s1[-1::-1])

ysae si nohtyp

In [11]:
s1="python is easy"
print(s1[::-1])

ysae si nohtyp

# list
1. one of the data structure in python
2. data structure means to store,sort and search
3. It's one common data strcuture in python ,the items of list seperated by comma and enclosed in square bracket[ ]

In [12]:
a=[]
print(type(a))

<class 'list'>

In [13]:
li=[1,2,3,4,5]
print(li[0])
print(li[1])
print(li[-1])

1
2
5

# updating list using index

In [14]:
li=["gitam",123,4,6]
li[0]="python"
print(li)

['python', 123, 4, 6]

# deleting list usng index

In [15]:
li=["gitam",123,4,6]
del li[2]
print(li)

['gitam', 123, 6]

In [16]:
#basic list of operations
li=["gitam",123,4,6]
print(len(li))
print(li*2)
print(4 in li)

4
['gitam', 123, 4, 6, 'gitam', 123, 4, 6]
True

In [17]:
#basic list of functions
li=[1,123,4,6]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

123
1
134
33

In [18]:
#basic methods in list
li=[1,123,4,6]
#li.append(27)
print(li)
#li.insert(0,10)
x=li.count(4)
print(x)

[1, 123, 4, 6]
1

In [1]:
#method of list objects
li=[1,123,4,6]
li.sort()
print(li)

[1, 4, 6, 123]

In [2]:
li=[1,123,4,6,2,4]
li.pop()
print(li)

[1, 123, 4, 6, 2]

In [3]:
li=[1,123,4,6,2,4]
li.pop(0)
print(li)

[123, 4, 6, 2, 4]

In [5]:
li=[1,123,4,6,2,4]
li2=[7,8,9]
li.extend(li2)
print(li)

[1, 123, 4, 6, 2, 4, 7, 8, 9]

# dictionaries
1. It works on concept of unique data
2. key,value is the unique identifier a value
3. each key is seperated from a value colon(:)
4. each key and value is seperated by comma(,)
5. dictionaries are enclosed with curly braces({})

In [10]:
d1={"name":'nitika',"emailid":'nitikareddy@gmail'}
print(d1)
print(type(d1))

{'name': 'nitika', 'emailid': 'nitikareddy@gmail'}
<class 'dict'>

In [11]:
d1["name"]='python'
print(d1)

{'name': 'python', 'emailid': 'nitikareddy@gmail'}

In [12]:
del d1["name"]
print(d1)

{'emailid': 'nitikareddy@gmail'}

# tuple
### tuples are enclosed with paranthesis

# difference between tuple and list
### -list are mutable-can be changed/modified/read and write the data
### -tuple are immutable-can't be changed/modified-read only the data

In [13]:
t=(1,2,3,4,5)
t[0]=9
print(t)

TypeError: 'tuple' object does not support item assignment

In [14]:
t=(1,2,3,4,5)
t[0]=1
print(t)

TypeError: 'tuple' object does not support item assignment

# function to return large number from the list

In [11]:
def leastno(li):
    li.sort()
    return li[-1]
print(leastno(li))

5

In [9]:
li=[1,2,3,4,5]
def maxlist(li):
    return max(li)
print(maxlist(li))

5

- contact application
- add contact details
- search the contact details
- list all the contacts(merge/import)
    - name 1 : value
    - name 2 : value
- modify or update the contact details
- delete the contact details

In [21]:
contacts={}#empty dict object
def addContact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print('contact details are added succesfully')
    else:
        print('name already exists')
    return
addContact("nitika","9440894331")
addContact("sonalika","8106908404")

contact details are added succesfully
contact details are added succesfully

In [20]:
contacts

{'nitika': '9440894331'}

In [22]:
contacts

{'nitika': '9440894331', 'sonalika': '8106908404'}

In [31]:
def searchContact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print(name,"does not present")
    return
searchContact("nitika")

nitika : nitika

In [37]:
def importContacts(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),'contacts are added')
    return
newContacts={'gitam':8888888888}
importContacts(newContacts)

1 contacts are added

In [38]:
contacts

{'nitika': 'nitika',
 'sonalika': '8106908404',
 'karuna': 9290809331,
 'gitam': 8888888888}

In [39]:
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted succesfully")
    else:
        print(name,"not present")
    return
deleteContact('gitam')

gitam deleted succesfully

In [40]:
contacts

{'nitika': 'nitika', 'sonalika': '8106908404', 'karuna': 9290809331}